################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YasApp/YasApp/bin/Debug
/YasApp/YasApp/obj/Debug
